@model Employee
@{
    ViewData["Title"] = "NewForm";
}

<h1>New Employee</h1>
<form action="/Employee/AddToDB">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="Name" name="Name"/>
        <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="age" name="age" />
        <label for="floatingInput">Age</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="Address" name="Address" />
        <label for="floatingInput">Address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="Salary" name="Salary" />
        <label for="floatingInput">Salary</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="Email" name="Email" />
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="Password" />
        <label for="floatingPassword">Password</label>
    </div>
    <br/>
    <div class="col-md-4">
        <select name="Office_Id" id="Office" class="form-select">
            <option selected>Office</option>
            @foreach (Office off in ViewBag.Off)
            {
               <option value="@off.Id">@off.Name</option>
            }

        </select>
    </div>
    <br />
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
